section h2 {
  font-size: 2em;
  padding-left: 1rem;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #3aab97;
}
section a {
  font-size: 1.125em;
  margin-right: 0.5em;
}
.all-issue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ca_div {
  margin-top: 3em;
  flex-basis: 31%;
}
.ca_div a {
  color: #5b5751;
}
.ca_div a:hover,
.ca_div a:visited {
  color: #5b5751;
}
.ca_a_time {
  padding-left: 0.75em;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #3aab97;
}
.ca_div img {
  width: 100%;
  margin-top: 1em;
}
section h4 {
  font-weight: normal;
  margin-top: 1em;
  padding-left: 1rem;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #3aab97;
}

.ca_div p {
  font-size: 1.0625em;
  line-height: 2;
  font-weight: lighter;
}
#ca_a_c01 {
  font-size: 1.5em;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #5b5751;
  transform: translateY(-50%);
  padding: 0 0.5em;
}

#ca_div_d {
  display: flex;
  margin: 2em 0;
}
#ca_div_d .line {
  flex: 1;
  background-color: #3aab97;
  height: 2px;
}