@media screen and (max-width:575px){
    section{
        margin-top: calc(150px + 1em);
    }
    h2{
        font-size: 1em;
    }
    .ca_div{
        width: 45%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1em;
    }
    a{
        font-size: 1em;
    }
    .ca_div a{
        margin-right: 0em;
    }
    .ca_a_time{
        padding-left: 0.25em;
    }
    .ca_div img{
        width: 100%;
        height: 60%;
    }
    h4{
        font-size: 1em;
    }
    .ca_div p{
        font-size: 1em;
    }
    #ca_div_c01{
        width: 33%;
    }
    #ca_div_c02{
        width: 33%;
        left: 0%;
        margin-left: 0%;
    }
    #ca_a_c01{
        display: inline-block;
        font-size: 1em;
        left: 0%;
        width: 28%;
        text-align: center;
        margin-right: 0em;
    }

    #ca_div_d{
        margin-top: 3em;
    }
    footer{
        margin-top: 3em;
    }
}