@media screen and (max-width:575px){
    section{
        margin-top: calc(150px + 1em);
    }
    h2{
        font-size: 1em;
    }
    .ca_div{
        width: 11.58em;
        margin-left: 0em;
        margin-right: 3.7em;
        margin-top: 1em;
    }
    .ca_div:nth-of-type(even){
        margin-right: 0em;
    }
    a{
        font-size: 1em;
    }
    .ca_div a{
        margin-right: 0em;
    }
    .ca_a_time{
        padding-left: 0.25em;
    }
    .ca_div img{
        width: 11.58em;
        height: 7.3475em;
    }
    h4{
        font-size: 1em;
    }
    .ca_div p{
        font-size: 1em;
    }
    #ca_div_c01{
        width: 33%;
    }
    #ca_div_c02{
        width: 33%;
        left: 12%;
    }
    #ca_a_c01{
        font-size: 1em;
        left: 8%;
    }

    #ca_div_d{
        margin-top: 3em;
    }
    footer{
        margin-top: 3em;
    }
}