@media screen and (max-width:575px){
    /* *{
    border-style: solid;
    border-width: 1px;
}  */
    section{
        width: 28em;
    }
    h2{
        font-size: 1em;
    }
    .ca_div{
        width: 11.8em;
        margin-right: 2em;
    }
    a{
        font-size: 1em;
    }
    .ca_div img{
        width: 11.24em;
        height: 7.3475em;
    }
    h4{
        font-size: 1em;
    }
    .ca_div p{
        font-size: 1em;
    }
    #ca_div_c01{
        width: 33%;
    }
    #ca_div_c02{
        width: 33%;
        left: 12%;
    }
    #ca_a_c01{
        font-size: 1em;
        left: 8%;
    }
    #all_art{
        width: 29em;
    }

    footer{
        margin-top: 16em;
    }
    #ca_div_d{
        margin-top: 3em;
    }
}
