@media screen and (max-width:575px){
    .all_articles {
        flex-direction: column;
    }
    h2{
        font-size: 1.5em;
    }
    .all_div{
        margin-top: 3em;
    }
    a{
        font-size: 1em;
    }
    .all_image{
        width: 100%;
    }
    h3 {
        font-size: 1.5em;
    }
}
