@media screen and (max-width: 576px){
    *{
        font-size: 10px;
        /* border-style: solid;
        border-width: 1px; */
    }
section{
    top: 16em;
    margin: 0em;
    margin-left:2em;
    width: 30em;
    }

footer{
    margin-top: 30em;

}

.jo_div_t00{
    width: 18em;
    display: block;
    position: relative;
    top: 10em;
    margin-left: 5em;
    margin: auto;
}
.jo_depart{
    position: relative;
    font-size: 2em;
    font-weight: normal;
    display: inline-block;
    color: rgb(138, 138, 138);
    padding-right: 1em;
}
.jo_member{
    position: relative;
    font-size: 1.8em;
    font-weight: normal;
    display: inline-block;
    padding-left: 1em;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #3AAB97;
}
.jo_div_t01{
    display: inline-block;
    width: 45em;
    position: relative;
    top: 8em;
    margin-left: 1em;
}
.jo_tea_t01{
    display: block;
    position: relative;
    width: 47em;
    margin-left: 0em;
    top: 0em;
    height: 20em;
}
.jo_box{
    display: inline-block;
    position: relative;
    width: 10em;
    height: 10em;
    
    margin-left: 5em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 8em;
    float: left;
}
.jo_box:nth-of-type(3n+1){
    clear: both;
}
.jo_teacher{
    padding-left: 0.65em;
    border-left-style: solid;
    border-left-width: 2.5px;
    border-left-color: #3AAB97;
    position: relative;
    font-size: 1.8em;
    font-weight: normal;
    display: block;
    
}
.jo_img_01{
    border-radius: 50%;
    width: 10em;
    display: inline-block;
    position: relative;
    top: 1em;
    left: 0em;
    margin-left: 0em;
}
.jo_p_01{
    font-size: 1.7em;
    font-weight: normal;
    position: relative;
    display: inline-block;
    top: 0em;
    left: 0em;
    margin-left: 1em;
    margin-top: 1em;
    width: 4em;
    text-align: center;
}

.jo_div_t02{
    position: relative;
    top: 10em;
    margin-left: 1em;
    width: 100%;
    height: 15em;
    margin-top: 0em;
    display: block;
}
.jo_tea_t02{
    margin-top: 1em;
    margin-left: 0em;
    display: block;
    top: 0em;
    position: relative;
    left: 0em;
}
.jo_assistant{
    margin-left: 1.5em;
    top: 0em;
    padding-left: 0.65em;
    border-left-style: solid;
    border-left-width: 2.5px;
    border-left-color: #3AAB97;
    position: relative;
    font-size: 1.6em;
    font-weight: normal;
    display: block;

}

.jo_div_t03{
    margin-top: 1em;
    margin-left: 1em;
    width: 100%;
    position: relative;
    top: 0em;
    left: 0em;
    display: block;
}
.jo_rep_t01{
    display: inline-block;
    left: 0em;
    top: -3em;
    position: relative;
    width: 32em;
    height: 25em;;
}
.jo_reporters{
    margin-top: 6.5em;
    margin-left: -17.3em;
    padding-left: 0.65em;
    border-left-style: solid;
    border-left-width: 2.5px;
    border-left-color: #3AAB97;
    position: relative;
    font-size: 1.6em;
    font-weight: normal;
    display: inline-block;
}


.jo_div_journ{
    display: block;
    position: relative;
    
    margin-top: 1em;
    top: 10em;
    width: 100%;
    margin: auto;
}
.jo_year{
    position: relative;
    display: inline;
    font-weight: bold;
    font-size: 1.8em;
    padding-top:6em; 
    text-align: center;
    left: 1.5em;
    top: 0em;
    margin-left: 0em;
    margin-left: 0em;
    
    }
    .jo_line1{
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, #3AAB97, #3AAB97, #3AAB97);
        width: 25%;
        top: 0.2em;
        left: -0.3em;
        margin-left: 0em;
        
        display: inline-block;
        position: relative;
    }
    .jo_line2{
      
        margin-left: -0.2em;
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, #3AAB97, #3AAB97, #3AAB97);
        width: 25%;
        left: 0em;
        top: 0.2em;
        display: inline-block;
        position: relative;
    }
    .jo_other{
        
        width:50em;
        margin-top: 0em;
        display:inline-block;
        position: relative;
    }
    .jo_t01{
        
        display:block;
        position: relative;
        margin: auto;
        margin-top: 5em;
        width: 50em;
    }
   
    
    .small_cir01 {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        border-color: #3AAB97;
        border-style: solid;
        border-width: 2px;
        position: relative;
        margin-left: 2em;
        margin-top: 0em;
        left: 0em;
        top: 0em;
        display: inline-block;
         }
         .small_cir02 {
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border-color: #3AAB97;
            border-style: solid;
            border-width: 2px;
            position: relative;
            display: inline-block;
            left: 0em;
            margin-left: -0.5em;
            top: 0em;
        }
        .small_cir03 {
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border-color: #3AAB97;
            border-style: solid;
            border-width: 2px;
            position: relative;
            display: inline-block;
            left: 0em;
            margin-left: 5.6em;
            top: 0em;
        }
        .small_cir04 {
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border-color: #3AAB97;
            border-style: solid;
            border-width: 2px;
            position: relative;
            left: 0em;
            margin-left: -0.4em;
            top: 0em;
            display: inline-block;
        }
        .group_swiper-container {
            overflow-x: hidden;
            
        }
        .group_swiper-container .group_swiper-pagination {
            text-align: center;
        }
        .group_swiper-container .group1 {
            margin-top: 2em;
            
            width: 100px;
            height: 100px;
            background: #6EBFB1;
            position: relative;
            border-radius: 50%;
            display: inline-block;
        }
        .group_swiper-container .group2 {
            margin-top: 2em;
            
            width: 100px;
            height: 100px;
            background: #A3A093;
            position: relative;
            border-radius: 50%;
            display: inline-block;
        }
        .group_swiper-container .group3 {
            margin-top: 2em;
            width: 100px;
            height: 100px;
            background: #9FB7B3;
            position: relative;
            border-radius: 50%;
            display: inline-block;
        }
        .group_swiper-container .swiper-slide {
            text-align: center;
            
        }
        .group_swiper-container .group p {
            text-align: center;
            vertical-align: middle;
            line-height: 200px;
        }
        .group_swiper-container .group_swiper-button-prev,
        .group_swiper-container .group_swiper-button-next {
            display: inline-block;
            cursor: pointer;
            width: 2em;
            height: 2em;
            font-size: 5em;
            position: absolute;
            top: 30%;
            z-index: 1;
            text-align: center;
        }
        .group_swiper-container .group_swiper-button-prev {
            left: -0.7em;
        }
        .group_swiper-container .group_swiper-button-next {
            right: -0.8em;
        }
        
        .journ_years01{
            margin-top: 1.5em;
            font-size: 1.5em;
            font-weight: bold;
            position: relative;
            text-align: center;
        }
     
        
        .jo_and{
            width: 7em;
            position: relative;
            display: block;
            margin: auto;
            margin-top: 5em;
            
        }
    .fa-caret-right{
        width: 2em;
        height: 2em;
        font-size: 0.5em;
        margin-top: 3em;
        
    }
    .fa-caret-left{
        margin-top: 3em;
        width: 2em;
        height: 2em;
        font-size: 0.5em;
        

    }}