@media screen and (max-width: 576px) {
  .result {
    flex-direction: column;
  }
  .result .text .img-wrapper {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
  .result > .img-wrapper {
    display: none;
  }
  .result .article-info {
    display: flex;
    flex-direction: column;
  }
  .result .category {
    border-right: none;
  }
  .result .title {
    padding-left: 0px;
    margin: 0.3rem 0px;
  }
  .result .abstract {
    padding-right: 0px;
  }
}
