section{
    position: relative;
    
}
footer{
    margin-top: 10em;
}

#re_div_t00 > h2{
    font-size: 1.3em;
    width: 10em;
    margin-top: 0.6em;
    font-weight: normal;
}
#re_div_t00 > p{
    font-size:1.3em;
    font-weight: lighter;
    margin-top: 0.8em;
}

.re_a_report{
    display: inline;
    padding-left: 0.25em;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #3AAB97;
    font-size: 1.8em;
    font-weight: bolder;
    margin-right: 0.1em;
}

#re_img_reporter{
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    width: 15em;
    display: block;
}

#re_intro{
    margin: 0 auto;
    position: relative;
    display: block;
}
#re_div_t00{
    position: relative;
    width: 19.5em;
    margin: 3em auto;
    display: block;
    top: 0em;
}

#re_history_article{
    position: relative;
    width: 70em;
    margin: 0 auto;
    display: block;
    
}

.re_img_article{
    width: 11em;
    display: inline-block;
    position: relative;
    margin-top: 0.8em;
    margin-left: 1.5em;
    height: 8em;
    background-color:#E7E7E7; 
}
.re_a_article{
    padding-left: 0.65em;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #3AAB97;
    position: relative;
    font-size: 1.5em;
    font-weight: normal;
    display: block;
    top:10%;
    margin-left: 3em;
}


.re_p_article{
    font-size:1.3em;
    font-weight: lighter;
    display: inline-block;
    position: relative;
    top:10%;
    margin-left: 0.5em;
}


.re_div_t01{
    display: inline-block;
    position: relative;
    margin-top: 2em;
    margin-left:2em;
    width: 32em;
    height: 10em;
    background-color:#ECE2D5; 
}



