*{
    font-family: 'Noto Sans TC', sans-serif;
    color: #5b5751;
    /* border-style: solid;
    border-width: 1px; */
}

section{
    position: relative;
    top: 1em;
    margin-left: 0em;

}
footer{
    margin-top: 8em; 
}
.search{
    margin-left: 0em;
}
.se_category{
    font-size: 1.2em;
    font-weight: normal;
    position: relative;
    left:1em;  
    padding-right:1.5em;
    color: #5b5751;
}
.se_article{
    padding-left: 0.65em;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #3AAB97;
    font-size: 1.2em;
    font-weight: normal;
    position: relative;  
    color: #5b5751;
}
.se_reporter{
    color: #3AAB97;
    font-size: 1.2em;
    font-weight: lighter;
    position: relative;  
    left:0.9em;
    padding-right:1.2em;
    display: inline;
    
}
.se_reporter:hover, .se_reporter:visited{
    color: #3AAB97;
    text-decoration: none;
}
.se_date{
    padding-left: 0.65em;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #3AAB97;
    font-size: 1.2em;
    font-weight: lighter;
    position: relative;  
    display: inline;
}
.se_img_article{
    width: 20em;
    height: 17em;
    display: inline-block;
    position: relative;
    margin-left: 1.8em;
    margin-top: 2em;
    height: 12em;
    left: 38em;
    top:-12em;
    
    
}
.se_p_article{
    font-size: 1em;
    font-weight: lighter;
    position: relative; left:1.3em;
    text-align: left;
    width:35em;
    
}

.se_div_t01 {
    margin-left: 0em;
    height:15em;
    margin-bottom: 0.2em;
    
}
